<div class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">New book</h1>
  </div>

  <div class="col py-3">
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Homepage</a></li>
            <li class="breadcrumb-item active">New Book</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>


  <form action="/add" method="POST">
      <div class="col mb-4">
        <label for="title" class="fw-bold">Title<span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="title" name="title" value="" placeholder="e.g. Example" required>
      </div>
      <div class="col mb-4">
        <label for="author" class="fw-bold">Author<span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="author" name="author" value="" placeholder="e.g. John First" required>
      </div>
      <div class="col mb-4">
        <label for="genre" class="fw-bold">Genre</label>
        <input type="text" class="form-control" id="genre" name="genre" value="" placeholder="e.g. Novel">
      </div>
      <div class="col mb-4">
        <label for="year" class="fw-bold">The year of publishing</label>
        <input type="text" class="form-control" id="year" name="year" value="" placeholder="e.g. 1999">
      </div>
    <div class="form-group mb-4">
        <label for="notes" class="fw-bold">Book Notes</label>
        <textarea class="form-control" name="notes" id="notes" cols="30" rows="12" placeholder="Some notes..."></textarea>
    </div>
    
    <div class="form-group mb-4">
      <button type="submit" class="btn btn-primary">Add Book</button>
    </div>
  </form>